<h1 class="courses-title">Мы готовим востребованных разработчиков</h1>
<h2 class="courses-title">Почему мы?</h2>

<div class="main-page-container">

    <div class="box-feature">
        <div class="box-feature-body">
            <img src="https://assets.htmlacademy.ru/img/profession/triada.svg?cs=e428903359d3ee4a5d7b1fabe86ac4621f6d3b4c" alt="обучение">
        </div>
        <p><strong>Это серьёзное обучение</strong>, которое длится восемь месяцев и построено на базе профессиональной триады «критерии-проекты-наставники».
               Вы получите навыки решения типовых задач фронтенд-разработчика и научитесь делать настоящие проекты, такие же по сложности, как в индустрии.
                И будете делать их правильно, на высоком профессиональном уровне.</p></div>

    <div class="box-feature">
        <div class="box-feature-body">
            <img src="https://assets.htmlacademy.ru/img/profession/liga_first.svg?cs=48caa1d41880fbd3bcce57534d7f384a5c5e0135" alt="производственная практика">
        </div>
        <p><strong>Практика.</strong>Сразу после обучения вы пройдёте экзамен на все ваши новые навыки и потренируетесь на нескольких проектах в акселераторе.
            Дальше вас ждёт оплачиваемая стажировка в «Our IT Company» с реальными заказами, сроками и первыми заработанными деньгами по новой профессии фронтендера — в команде с
            разработчиками, тестировщиками и менеджером.
        </p></div>


    <div class="box-feature">
        <div class="box-feature-body">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT6-L5hz1NY2YtbOC9235SkWzi37uoYPwGbKw&usqp=CAU&ec=45774421" alt="производственная практика">
        </div>
        <p><strong>Проверили статистикой.</strong>Три года назад мы предположили, что выпускники, прошедшие полный
            путь от этапа обучения до стажировки, точно найдут работу. Статистика показала: только 10% выпускников
            находят работу сразу после обучения,
            а после акселератора и практики в «Our IT Company» — 95%. Поэтому мы решили оформить гарантию официально.
        </p></div>


    <div class="box-feature">
        <div class="box-feature-body">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSW3ZM98hKUEDGOQ0JL2rMBq0YK2XE1ToSmpg&usqp=CAU" alt="производственная практика">
        </div>
        <p><strong>Придумали, откуда новичкам взять опыт.</strong>
            Мы разработали целый процесс: определяем ваш базовый уровень, даём дополнительные навыки в акселераторе и устраиваем
            на оплачиваемую стажировку в «Our IT Company».
            Это даёт опыт работы в команде, навыки работы с коммерческими проектами и пару красивых строчек в портфолио.
        </p></div>


    <div class="box-feature">
        <div class="box-feature-body">
            <img src="https://www.spot.uz/media/img/2018/01/AYTX4F15169632090479_l.jpg" alt="производственная практика">
        </div>
        <p><strong>Собрали базу вакансий.</strong>
            На всех этапах с выпускниками работает Центр карьеры. Там вам помогут устроиться на работу мечты —
            найдут вакансию в вашем городе, помогут связаться с
            компанией и проверят, в порядке ли резюме.
        </p></div>

</div>

